<footer class="p-lg-5 px-md-5 px-4 pt-5 pb-3">
  <div class="row mx-auto max-width">
    <div class="col-lg-4 mt-3">
      <img src="./assets/icon/crink-icon-white.svg" height="45" />
      <span class="font-weight-light text-light mt-3 d-block text-sm letter-space-sm d-block">
        L'application qui vous aide à prendre soin de vos cheveux au
        quotidien
      </span>
      <div class="mt-3">
        <a href="https://www.instagram.com/crinkappli/" target="_blank">
          <img
            src="assets/icon/instagram.svg"
            class="mr-3 pointer"
            height="25"
          />
        </a>
        <a href="https://www.linkedin.com/company/crink" target="_blank">
          <img
            src="assets/icon/linkedin.svg"
            class="mr-3 pointer"
            height="25"
          />
        </a>
      </div>
    </div>

    <div class="col-lg-3 offset-lg-1 mt-lg-2 mt-5">
      <div class="pb-2 mb-lg-4 mb-3 position-relative">
        <span class="d-block text-white text-uppercase mb-2">On vous tient au courant !</span>
        <div class="position-absolute border-bot"></div>
      </div>

      <p class="text-white font-weight-light text-sm">
        L'application étant encore en développement, nous vous tiendrons au courant lors de sa sortie.
      </p>

      <form (submit)="onSubmit(emailref.viewModel)" #f="ngForm">
        <input
        name="email"
        type="email"
        class="form-width p-2 newsletter font-weight-light text-white d-block"
        placeholder="Entrez votre adresse email"
        ngModel
        #emailref="ngModel"
        required
        [disabled]="loading || sent">

        <div class="my-3 pretty p-svg p-plain p-bigger p-smooth text-sm text-light">
          <input
          type="checkbox"
          (change)="onAccept($event.srcElement.checked)"
          [disabled]="loading || sent" />
          <div class="state">
              <img class="svg text-light" src="assets/icon/check-circle.svg">
              <label class="ml-1 text-white font-weight-light">J'accepte de recevoir les newsletters de Crink</label>
          </div>
        </div>

        <button
        type="submit"
        class="mt-3 mb-2 btn text-light font-weight-light d-flex align-items-center"
        [class.pointer]="f.valid || isAccepted"
        [class.cursor-default]="f.invalid || loading || sent || !isAccepted"
        [disabled]="f.invalid || loading || sent || !isAccepted">
        Envoyer
        <svg *ngIf="!sent" class="bi bi-cursor-fill text-light ml-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 01.103.557L8.528 15.467a.5.5 0 01-.917-.007L5.57 10.694.803 8.652a.5.5 0 01-.006-.916l12.728-5.657a.5.5 0 01.556.103z" clip-rule="evenodd"></path>
        </svg>
        <i *ngIf="sent" class="ml-1 material-icons dp48 text-white">check</i>
        </button>
      </form>

      <!-- ON SUBMIT -->
      <p *ngIf="error && error !== null && !loading"
      class="text-sm text-white font-weight-light my-3"
      >Veuillez saisir une adresse email valide</p>
      <p *ngIf='!error && error !== null && !loading'
      class="text-sm text-white font-weight-light my-3"
      >Super ! Merci pour votre inscription ! 🥳</p>
      <div *ngIf="loading" class="my-3 d-flex align-items-center">
        <p class="text-sm text-white font-weight-light mb-0">Traitement en cours…</p>
        <span class="loading-spin ml-3 d-inline-flex"></span>
      </div>
    </div>

    <div class="col-lg-2 offset-lg-1 mt-lg-2 mt-5">
      <div class="pb-2 mb-lg-4 mb-3 position-relative">
        <span class="d-block text-white text-uppercase mb-2">Téléchargement</span>
        <div class="position-absolute border-bot"></div>

      </div>
      <div class="d-flex flex-column align-items-start justify-content-around">
        <p class="text-white text-sm font-weight-light">Prochainement</p>
        <img
          src="assets/icon/apple-badge.svg"
          height="60"
          class="pointer my-2"
        />
        <img
          src="assets/icon/google-badge.svg"
          height="60"
          class="pointer my-2"
        />
      </div>
    </div>

    <div class="col-12 pt-2 text-white font-weight-light text-xsm text-center text-md-left mt-5 mt-lg-0">
      © Crink 2020 | Tous droits réservés.
    </div>
  </div>


</footer>



