footer {
  background: linear-gradient(to left, #BD4C29, #BB5C3F, #B96C54);
}

.max-width {
  max-width: 2250px;
}

a[title="contact@crink.fr"]:hover {
  color: unset;
  transition: 0.3s;
  text-decoration: unset;
}

a[title="contact@crink.fr"]:hover::after {
  width: 100%;
}

a[title="contact@crink.fr"]:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #fff;
  transition: 0.5s;
}

.border-bot {
  border-bottom: 3px solid #fff;
  width: 6rem;
}


