<footer class="p-lg-5 px-md-5 px-4 pt-5 pb-3">
  <div class="row mx-auto max-width">
    <div class="col-lg-4 mt-3">
      <img src="./assets/icon/crink-icon-white.svg" height="45" />
      <span class="font-weight-light text-light mt-3 d-block text-sm letter-space-sm d-block">
        L'application qui vous aide à prendre soin de vos cheveux au
        quotidien
      </span>
      <div class="mt-3">
        <a href="https://www.instagram.com/crinkappli/" target="_blank" title="Instagram">
          <img
            src="assets/icon/instagram.svg"
            class="mr-3 pointer"
            height="25"
          />
        </a>
        <a href="https://www.linkedin.com/company/crink" target="_blank" title="Linkedin">
          <img
            src="assets/icon/linkedin.svg"
            class="mr-3 pointer"
            height="25"
          />
        </a>
        <a href="https://github.com/crinkapp" target="_blank" title="Github">
          <img
            src="assets/icon/github-icon.svg"
            class="mr-3 pointer"
            height="25"
          />
        </a>
      </div>
    </div>

    <div class="col-lg-3 offset-lg-1 mt-lg-2 mt-5">
      <div class="pb-2 mb-lg-4 mb-3 position-relative">
        <span class="d-block text-light text-uppercase mb-2">Contact</span>
        <div class="position-absolute border-bot"></div>
      </div>

      <p class="text-light font-weight-light text-sm">
        Pour toutes questions n'hésitez pas à nous contacter, nous aurons le plaisir de vous répondre
      </p>
      <div class="d-flex align-items-center">
        <svg class="bi bi-envelope text-light mr-2" width="22" height="22" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"/>
          <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"/>
        </svg>
        <a title="contact@crink.fr" href="mailto:contact@crink.fr" class="text-white font-weight-light">
          contact@crink.fr
        </a>
      </div>

    </div>

    <div class="col-lg-2 offset-lg-1 mt-lg-2 mt-5">
      <div class="pb-2 mb-lg-4 mb-3 position-relative">
        <span class="d-block text-light text-uppercase mb-2">Téléchargement</span>
        <div class="position-absolute border-bot"></div>

      </div>
      <div class="d-flex flex-column align-items-start justify-content-around">
        <p class="text-light text-sm font-weight-light">Prochainement</p>
        <img
          src="assets/icon/apple-badge.svg"
          height="60"
          class="pointer my-2"
        />
        <img
          src="assets/icon/google-badge.svg"
          height="60"
          class="pointer my-2"
        />
      </div>
    </div>

    <div class="col-12 pt-2 text-light font-weight-light text-xsm text-center text-md-left mt-5 mt-lg-0">
      © Crink 2020 | Tous droits réservés.
    </div>
  </div>


</footer>



