@import '../../../styles.scss';

nav {
  background-color: transparent;
  transition: ease 0.4s;
}

ul li a {
    color: #3A444C;
}

img[alt="Crink"] {
  transition: ease 0.3s;
}

button:focus {
    outline: none;
}

li img {
    object-fit: cover;
}

a {
  animation: ease 0.2s;
  position: relative;
}

a:not(.active):not(.navbar-brand):after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #fff;
  width: 0px;
  transform: translateX(-50%);
  bottom: -4px;
  left: 50%;
  cursor: initial;
  transition: ease 0.7s;
}

a:not(.active):not(.navbar-brand):hover:after {
  width: 75%;
}

.active {
  color: #fff !important;
}

.active::after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #fff;
  width: 75%;
  transform: translateX(-50%);
  bottom: -4px;
  left: 50%;
  cursor: initial;
  transition: ease 0.7s;
}

.scroll {
  background: $mainColor;
}
