<div class="row m-0">
    <div class="col-7 d-none d-md-block img-cover"></div>
    <div class="col-md-5 col-12 mt-top">
        <div class="px-5 pt-5 pt-md-0">
            <h1 class="text-center text-main letter-space-md pt-5 pt-md-0">Connexion</h1>
            <div class="mt-5">
                <span class="text-dark font-weight-bold d-block my-2">Email</span>
                <input type="email" name="email" placeholder="Entrez votre email" class="w-100" autocomplete="off">
            </div>

            <div class="mt-5">
                <span class="text-dark font-weight-bold d-block my-2">Mot de passe</span>
                <input type="password" name="password" placeholder="Entrez votre mot de passe" class="w-100" autocomplete="off">
            </div>

            <div class="mt-3">
                <a href="#" class="text-decoration-none">
                    <span class="text-main font-weight-bold">Mot de passe oublié ?</span>
                </a>
            </div>

            <div class="mt-5 pretty p-curve p-default p-smooth">
                <input type="checkbox" />
                <div class="state">
                    <label class="text-dark font-weight-bold mx-2">Se souvenir de moi</label>
                </div>
            </div>

            <div class="mt-5 text-center">
                <a routerLink="/home">
                    <button class="bg-main rounded border-0 w-50">
                        <span class="h5 text-white letter-space-sm">Connexion</span>
                    </button>
                </a>
            </div>

            <div class="mt-5 mb-md-0 mb-5 text-center">
                <a href="#" class="text-decoration-none">
                    <span class="text-main font-weight-bold">Pas encore de compte ? Inscrivez-vous maintenant !</span>
                </a>
            </div>
        
        </div>
    </div>
    
</div>