.mt-top {
  margin-top: 5rem;
}

.img-cover {
  background-image: url("../../../assets/img/signin-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  clip-path: ellipse(100% 100% at 0% 45%);
}

input {
  border-radius: 8px;
  border: none;
  background-color: #e9e8ea;
  padding: 12px 18px;
}

input::placeholder {
  color: #3a444c !important;
  font-weight: 100 !important;
}

input:focus,
button {
  outline: none;
}

div button {
  padding: 14px 20px;
}

.valid-form:hover {
  background-color: #92452E;
}

.on-error {
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}

.on-success {
  position: absolute;
  right: 14px;
  bottom: 22px;
}

.on-error-icon {
  position: absolute;
  right: 14px;
  bottom: 56px;
}

@media (max-width: 767px) {
  .mt-top {
    margin-top: 1rem;
  }
}
