<div class="not-found-section d-flex flex-column align-items-center justify-content-center">
  <img src="../../../assets/icon/not-found.svg" alt="Not found error" height="120">
  <h5 class="my-5 font-weight-light text-uppercase not-found-text">Ooops… page non trouvée :(</h5>
  <span class="text-muted font-weight-light">La page que vous essayez d'accéder n'existe pas.</span>
  <a [routerLink]="['/']" class="text-decoration-none my-2 font-weight-light">Cliquez ici pour retourner à l'accueil</a>
</div>
