.not-found-section {
  height: 91.8vh;
  background: url('../../../assets/icon/newsletter-bg.svg') repeat center #fff;
  background-size: 16rem;
  overflow: hidden;
}

.not-found-text {
  color: #b96c55;
  letter-spacing: 2px;
}
