<div class="container">
  <div class="title my-5 text-dark pl-3 font-weight-bold">Mon profil</div>

  <!-- HEADER -->
  <div class="row mx-0 mt-high bg-light">
    <!-- HEADER LEFT COL -->
    <div class="col-lg-3 col-md-4 d-flex flex-column">
      <img [src]="user.path_profil_picture_user != null ? user.path_profil_picture_user : 'assets/img/no-picture.jpg'" alt="Avatar" class="w-100 border">
    </div>

    <!-- HEADER RIGHT COL -->
    <div class="col-lg-9 col-md-8">
      <div class="p-3 d-flex flex-column">
        <h3 class="text-dark font-weight-bold">{{user.username_user}}</h3>
        <span class="d-block mt-3 mb-2 text-muted">{{user.first_name_user}} {{user.last_name_user}}</span>
        <div class="d-block my-md-2 my-1">
          <span class="text-dark header-info font-weight-light mr-2">Nombres d'articles:</span>
          <span class="text-dark header-info">0</span>
        </div>
        <div class="d-block my-md-2 my-1">
          <span class="text-dark font-weight-light mr-2">Membre depuis le:</span>
          <span class="text-dark">{{user.createdAt | date:'dd/MM/yyyy'}}</span>
        </div>
      </div>
    </div>

  </div>
  <!-- END HEADER -->

  <div class="row mx-0 mb-high">

    <!-- CONTENT LEFT COL -->
    <div class="col-lg-3 col-md-4 d-flex flex-column mt-4 mt-md-0 order-last order-md-0">
      <div class="d-flex align-items-center justify-content-between mt-4 mb-2">
        <span class="text-uppercase text-muted subtitle font-weight-bold mr-2">Hashtags</span>
        <div class="w-100 border-bottom"></div>
      </div>
      <div class="mt-3 mb-1">
        <span class="text-dark d-block mb-2 pointer" *ngFor="let hash of hashtags">
          #{{hash}}
        </span>
      </div>
    </div>

    <!-- CONTENT RIGHT COL -->
    <div class="col-lg-9 col-md-8 pr-md-0 mt-4">
      <div class="pl-md-3 d-flex flex-column">
        <div class="d-flex align-items-center justify-content-between mt-md-0 mt-4 mb-2">
          <div class="mr-2 d-flex align-items-center">
            <span class="text-uppercase text-muted subtitle font-weight-bold mr-2">Informations</span>
            <span class="text-uppercase text-muted subtitle font-weight-bold">Personnelles</span>
          </div>
          <div class="w-100 border-bottom"></div>
        </div>

        <div class="mt-3 mb-1">
          <span class="text-muted font-weight-light mr-2">Adresse email:</span>
          <span class="text-dark">{{user.email_user}}</span>
        </div>
        <div class="my-1 d-flex align-items-end">
          <span class="text-muted font-weight-light mr-2">Mot de passe:</span>
          <span class="text-dark h5 mb-0" *ngFor="let i of [].constructor(user.password_user.length)">•</span>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-5 mb-2">
          <div class="mr-2 d-flex align-items-center">
            <span class="text-uppercase text-muted subtitle font-weight-bold mr-2">Informations</span>
            <span class="text-uppercase text-muted subtitle font-weight-bold">Générales</span>
          </div>
          <div class="w-100 border-bottom"></div>
        </div>

        <div class="mt-3 mb-2" *ngIf="user.gender_user">
          <span class="text-muted font-weight-light mr-2">Genre:</span>
          <span class="text-dark">{{user.gender_user === 'Man' ? 'Homme' : 'Femme'}}</span>
        </div>

      </div>
    </div>

  </div>
</div>
