@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~pretty-checkbox/src/pretty-checkbox.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

$mainColor: #b96c55;
$mainColorHover: #7B3621;
$darkColor: #3a444c;
$lightGreyColor: #fafafa;

// THEME
* {
  font-family: 'Lato', sans-serif;
}

.text-dark {
  color: $darkColor !important;
}

.bg-dark {
  background-color: $darkColor !important;
}

.text-main {
  color: $mainColor;
}

.bg-main {
  background: $mainColor;
}

.text-grey {
  color: $lightGreyColor;
}

.bg-grey {
  background: $lightGreyColor;
}

.letter-space-sm {
  letter-spacing: 1px;
}

.letter-space-md {
  letter-spacing: 3px;
}

.text-sm {
  font-size: 0.9rem;
}

.text-xsm {
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
