@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

$mainColor: #B96C55;
$darkColor: #3A444C;
$lightGreyColor: #FAFAFA;

// THEME
* {
    font-family: Avenir;
}

.text-dark {
    color: $darkColor!important;
}

.bg-dark {
    background-color: $darkColor!important;
}

.text-main {
    color: $mainColor;
}

.bg-main {
    background: $mainColor;
}

.text-grey {
    color: $lightGreyColor;
}

.bg-grey {
    background: $lightGreyColor;
}
.active {
    color: $mainColor!important;
}

.active:hover {
    color: $mainColor!important;
}

.letter-space-sm {
    letter-spacing: 1px;
}

.letter-space-md {
    letter-spacing: 3px;
}

.font-sm {
    font-size: 14px;
}

.header {
    width: 100%;
    margin-top: 5rem;
}

.header div {
    padding-top: 35px;
    padding-bottom: 35px;
}