<div class="modal-header">
<h4 class="modal-title text-dark">Mot de passe oublié ?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (submit)="submit()" #f="ngForm">
  <div class="modal-body">
    <div class="form-group">
      <label for="email">Indiquez votre adresse email</label>
      <input
      name="email"
      type="email"
      class="form-control"
      [class.is-invalid]="error.err"
      id="email"
      aria-describedby="emailHelp"
      placeholder="Adresse email"
      [(ngModel)]="email"
      required
      [disabled]="sent || loading">
      <small class="form-text text-muted">Nous vous enverrons un lien pour changer votre mot de passe.</small>
      <span
      class="mt-2 text-danger text-xsm d-block"
      *ngIf="(error.err && !sent) || loading">{{error.content}}</span>
      <div *ngIf="sent && !loading && !error.err">
        <span class="mt-2 text-success text-xsm d-block">Un email vous a été envoyé à cette adresse, veuillez vérifier votre boîte mail.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
    *ngIf="!sent"
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.close('Close click')"
    [disabled]="loading">Annuler</button>
    <button
    *ngIf="!sent"
    type="submit"
    class="bg-main btn text-white confirm"
    [class.invalid]="f.invalid"
    [disabled]="f.invalid || loading">Confirmer</button>
    <button
    *ngIf="sent"
    type="button"
    class="btn btn-dark"
    (click)="activeModal.close('Close click')">Fermer</button>
  </div>
</form>
